
.body{
    width: 100%;
    height: 100%;    
    font-family: 'Fira Sans', sans-serif;
   
}

.container{
    width: 100%;
    height: 100%;   
}

.header {
    display: flex;
    cursor: pointer;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.middle{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 15rem;
}
.class{
    position: absolute;
    left: 15rem;
}
.left {
    
  display: flex;
  justify-content: space-between;
}

a {
    margin-left: 40px;
    text-decoration: none;
}

.vin a {
    font-size: 35px;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
}

.class .insp {
    font-size: 17px;
    font-weight: 400;
    color: #6e6d7a;
   
}
.class :not(:first-child){
    font-size: 20px;
    font-weight: 600;
    color: #6e6d7a;
}

.head a {
    font-size: 20px;
    color: #6e6d7a;
  
}

.head2 a {
    font-size: 30px;
    color: white;
    padding: 10px 12px;
    background: #ea4c89;
    border-radius: 8px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    
}

.nav2 {
    height: 55%;
    background-color: whitesmoke;
    
}

h1{
    margin-left: 10%;
    height: -160px; 
    padding-top:  110px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

p{
    margin-left: 10%;
    height: -150px; 
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #0d0c22
}

.head1{
    margin-left: 10%;
    display: inline-block;
    padding: 5px 10px;
    background: #ea4c89;
    border-radius: 10px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

.head1 a{
    color: white;
}

.img2{
    margin-left: 73%;
    margin-top: -320px;
    height: 200%;    
    width: 40%;
}

.list {
    display: flex;
    justify-content: space-between; 
    font-family: sans-serif;
    font-weight: 500;
}

.list button {
    height: 30px;
    width: 100px;
}

.list ul {
    display: flex;
}

.list ul a  {
    text-decoration: none;
    color: black;
}
 .img2-list{
    display: flexbox;
    padding: 30px;
    top: 50px;
    box-sizing: border-box;
    background: whitesmoke;
    transition: 10.5s;
}

